.bottom-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    .card {
      width: 44vw;
      height: 32vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 1px solid;
      border-radius: 8px;
      background-color: #1d333d;
      column-gap: 15px;
    }
  
    .card_img {
      width: 15vw;
      height: 28vh;
      border-radius: 50%;
      vertical-align: top;
      margin: 15px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .card_item {
      text-align: center;
    }
  }
  