* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dae6ec;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 75%;
  margin: 10px;
}

button {
  border-radius: 5px;
}

.error-button {
  margin-bottom: 10px;
}

.result {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 15px;
}
h2 {
  color: white;
}
p {
  color: white;
}
